.containerClass{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.footerClass{
    float: right;
    font-size: smaller;
    color: #73768a;
    margin-top: -20px;
}
